body{
    margin:0px;
}

.text-center{
    text-align: center;
}

#body-header{
    height:65vh;
    opacity: 0.8;
    background-image:url(static/macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.horizontal-list{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
}

.horizontal-list li a{
    color: white;
    text-decoration: none;
}

.nav-menu li a{
    transition:color 0.5s, border-bottom 0.5s;
}

.nav-menu li a:hover{
    color: gray;
    border-bottom: 1px solid gray;
}

#My-Name-Container{
    margin-top: 20vh;
}

#My-Name{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;

}

.social-list li a i{
    padding: 10px;
    border-radius: 48%;
}

.social-list li a i:hover{
    box-shadow: 0px 0px 6px 4px white;
}

#about{
height: auto;
width: 100%;
position: relative;
}
#my-image{
    height:12rem;
    width: 12rem;
    margin:auto;
    margin-top: -17vh;
}

#my-image img{
    height: 100%;
    width:100%;
    border-radius: 50%;
    border:1px solid white;
    box-shadow: 0px 0px 6px 4px lightgrey;
}

#about-content p{
    margin: 5vh 20vw 5vh 20vw;
	font-family:sans-serif;
	color: grey;
	font-size: 20px;
	text-align: justify;
}

#about-content p span{
    color:#2857a4;
}